<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <!--[(ngModel)]="product.name"-->
            <input matInput [(ngModel)]="product.name" name="name" type="text">
            <mat-placeholder class="placeholder">Nome</mat-placeholder>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="product.price" name="price" type="number">
            <mat-placeholder class="Preço (R$)">Preço</mat-placeholder>
        </mat-form-field>
    </form>
    <button id="btn-save" mat-raised-button (click)="createProduct()">
        Salvar
    </button>
    
    <button id="btn-cancel" mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



