<mat-card>
    <mat-card-title>Deletar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <!--[(ngModel)]="product.name"-->
            <input matInput [(ngModel)]="product.name" name="name" disabled>
            <mat-placeholder class="Nome">Nome</mat-placeholder>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="product.price" name="price" disabled>
            <mat-placeholder class="Preço (R$)">Preço</mat-placeholder>
        </mat-form-field>
    </form>
    <button id="btn-delete" mat-raised-button (click)="deleteProduct()" color="warn">
        Deletar
    </button>
    
    <button id="btn-cancel" mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
