<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <!--[(ngModel)]="product.name"-->
            <input matInput [(ngModel)]="product.name" name="name">
            <mat-placeholder class="Nome">Nome</mat-placeholder>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="product.price" name="price">
            <mat-placeholder class="Preço (R$)">Preço</mat-placeholder>
        </mat-form-field>
    </form>
    <button id="btn-update" mat-raised-button (click)="updateProduct()" color="primary">
        Atualizar
    </button>
    
    <button id="btn-cancel" mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

